.main {
	width: 100%;
}

.main__title, h2 {
	width: 100%;
	max-width: 500px;
	text-align: center;
	margin: 0 auto;
}

.main__converter_title {
	background-color: yellow;
}

.main__converter {
	width: 100%;
	max-width: 500px;
	margin: auto;
	display: flex;
	justify-content: center;
	align-content: center;
}

.main__currencyFrom, .main__currencyIn {
	padding: 10px;
}

select {
	font-size: 23px;
}

.main__inputField {
	width: 100%;
	font-size: 23px;
} 

.main__container {
	display: flex;
	width: 100%;
	max-width: 500px;
	margin: auto;
}

.main__name {
	width: 65%;
	margin: 0;
	padding: 15px;
	border: 1px solid black;
}

.main__rate {
	width: 35%;
	margin: 0;
	padding: 15px;
	border: 1px solid black;
}

.main__head {
	font-weight: bold;
	background-color: pink;
	text-align: center;
}

.main__head_name {
	padding-top: 23px;
}
